{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner" >
                <div class="banner-text" style=" color:white; top:40px; left:100px;">
                    <h1 style=" background-color:darkslateblue; width:100%; height:150px; margin-bottom:30px; text-align: center;">TODO</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="enter your task">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="priority">
                </div><br>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="enter your date">
                </div><br>
                    <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="col-md-6">
            <h4>TASK TO BE COMPLETED</h4><br>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">update</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}